<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test</title>
    <link rel="stylesheet" href="static/my_styles.css">
</head>
<body>
    <div class="container">
        <div class="titles" id="titles">
            <p id="name"> Text-Classification </p>
        </div>
        <div class="app" id="app">
            <textarea id="search_box" placeholder="Enter your sentence..." rows="3", cols=80></textarea>
            <button id="search_button">Search</button>
            <p id="result">Result: </p>
        </div>
    </div>
<script src="static/my_app.js"></script>
</body>
</html>
